baseURL = 'https://cvooc.com'
languageCode = 'zh-cn'
# 博客名称
title = 'cvooc'
# 主题
# theme = 'cvooc'

[permalinks]
  pages = "/:slug"

[params]
  logo = '/static/assets/favicon.ico'
  description = "cvooc.com 个人博客"
  author = 'cvooc'
  items = 10

  [params.comments]
    enabled = true
    githubRepo = 'cvooc/cvooc.com'
    theme = 'gruvbox-dark'
    [[params.social]]
      name = "twitter"
      url = "https://twitter.com/xxx"
    [[params.social]]
      name = "instagram"
      url = "https://instagram.com/xxx"
    [[params.social]]
      name = "github"
      url = "https://github.com/xxx"
    [[params.social]]
      name = "linkedin"
      url = "http://www.linkedin.com/in/xxx"
    [[params.social]]
      name = "weibo"
      url = "http://www.weibo.com/xxx"

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    weight = 2
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 3
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 4
  [[menu.main]]
    identifier = "github"
    name = "Github"
    url = "https://github.com/cvooc"
    weight = 4
[markup]
  [markup.goldmark.renderer]
    unsafe = true
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    noHl = false
    style = 'gruvbox'
    tabWidth = 4

[taxonomies]
  tag = "tags"

[outputs]
  home = ["HTML", "RSS", "JSON"]
  section = ["HTML"]

[outputFormats.RSS]
  mediatype = "application/rss"
  baseName = "atom"

[outputFormats.JSON]
  mediatype = "application/json"
  baseName = "feed"

ignoreErrors = ["error-remote-getjson"]
